* {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

body {
  background-color: #abdbe3;
}

.container {
  width: 350px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 12px;
  padding-bottom: 45px;
}

.app-title {
  width: 350px;
  height: 65px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  font-size: 2.5em;
  color: #293251;
}

.notification {
  background-color: #f8d7da;
  display: none;
}

.notification p {
  color: #721c24;
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  padding: 10px 0;
}

.weather-content {
  width: 350px;
  height: 260px;
  background-color: #fff;
}

.weather-icon {
  width: 350px;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temp-value {
  width: 350px;
  height: 60px;
}

.temp-value p {
  padding: 0;
  margin: 0;
  color: #293251;
  font-size: 4em;
  text-align: center;
  cursor: pointer;
}

.temp-value span {
  color: #293251;
  font-size: 0.7em;
}

.temp-description p {
  padding: 8px;
  margin: 15px;
  color: #293251;
  text-align: center;
  font-size: 1.2em;
}

.location p {
  margin: 15px;
  padding: 0;
  color: #293251;
  text-align: center;
  font-size: 0.9em;
}
